@model clima_tempo_simples.Models.PrevisaoClima

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrevisaoClima</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPrevisao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrevisao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemperaturaMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemperaturaMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemperaturaMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemperaturaMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
